/*HEADER FONT*/
@font-face {
  font-family: "Pretendo";
  src: url("Fonts/Pretendo.ttf");
}

/*SUB-HEADER FONT*/
@font-face {
  font-family: "Gilmer-bold";
  src: url("Fonts/gilmer-bold.woff");
}
@font-face {
  font-family: "Gilmer-regular";
  src: url("Fonts/gilmer-regular.woff");
}
@font-face {
  font-family: "Gilmer-medium";
  src: url("Fonts/gilmer-medium.woff");
}

/*BODY FONT*/
@font-face {
  font-family: "Proxima-nova";
  src: url("Fonts/proxima-nova.ttf");
}

* {
  margin: 0px;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  background-color: #F7F7F7;
}

body {
  width: 100%;
  font-family: 'ProximaNova', sans-serif;
  background: url("../Hackathon_files/about-bkg.svg") 100% 0% no-repeat;
  background-size: cover;
  max-height: 800px;
  background-attachment: scroll;
}

h2.header{
  margin-top: 5%;
  text-align: center;
  font-family: 'Gilmer-bold', sans-serif;
  font-size: 400%;
}

/* menu css */
#first-logo {
  width: 7%;
  margin-left: 10%;
}

#header a {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none;
}

#header a:hover {
  color: black;
}

#menu-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: 5%;
}
/* end of menu css */


/*SPINNING STARS*/
#spinnystar{
  z-index: 0;
  position: absolute;
  left: -33%;
  top: -30%;
  width: 110%;
  height: 110%;
  -webkit-animation: rotation 60s infinite linear;
}
#spinnystar2{
  z-index: 0;
  position: absolute;
  left: 75%;
  top: 70%;
  width: 40%;
  height: 40%;
  -webkit-animation: counter-rotation 60s infinite linear;
}
#spinnystar3{
  z-index: 1;
  position: absolute;
  left: -5%;
  top: 280%;
  width: 20%;
  height: 20%;
  -webkit-animation: rotation 60s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-webkit-keyframes counter-rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}
/*End of spinny stars*/

/*FRONT PAGE*/
#intro{
  margin: 13% 10% 10% 10%;
  color: #FFFFFF;
  text-align: center;

}
#intro h1, #intro h2, #intro p, #register, #header{
  position: relative;
  z-index: 10;
}
h1.header{
  margin-top: -5%;
  font-family: 'Pretendo', sans-serif;
  font-size: 500%;
}
.register{
  color: #FFFFFF;
  padding: 7px 40px;
  background-color: #2E7AE6;
  border-radius: 50px;
  font-family: 'Gilmer-bold', sans-serif;
  line-height: 50px;
  font-size: 170%;
  text-decoration: none;
  display: inline-block;
}
.grow{
  transition: all .2s ease-in-out;
}
.grow:hover{
  transform: scale(1.03);
}
#when{
  font-family: 'Gilmer-bold', sans-serif;
  font-size: 200%;
}
#description{
  width: 70%;
  margin: auto auto 15px auto;
  font-family: 'Gilmer-medium', sans-serif;
  font-size: 180%;
}
/*end of front PAGE*/

/*Prizes*/
#prizes {
  display: inline-block;
  color: #2C2C2D;
}
#prize-container{
  display: grid;
  margin: 0% 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}
#prize-container>div{
  text-align: center;
  padding: 5%;
}
#prize-container h3{
  text-align: center;
  font-family: 'Gilmer-Bold', sans-serif;
  font-size: 230%;
}
#prize-container p{
  text-align: center;
  font-family: 'Gilmer-medium', sans-serif;
  font-size:170%;
}
.prize-bkg{
  height: 100%;
  width: 100%;
}
.prize-img{
  position: relative;
  height: auto;
  width: 80%;
  max-width: 200px;
  top: -90%;
  left: -19%;
}
/*end of prizes*/
a:hover{
  cursor: pointer;
}

/*Schedule*/
#schedule section{
  padding: 0% 5% 7% 5%;
}

#schedule{
  color: white;
  background:
  url("../Hackathon_files/schedule-bkg.svg") 100% 0% no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  z-index: -1;
}

#schedule h3{
  display: inline-block;
  font-family: 'Gilmer-bold', sans-serif;
  font-size: 1.5rem;
  position: relative;
  bottom: 20px;
  margin-right: 30px;
}
#First-day tr th{
  background: #D060F7;
}
#Second-day tr th{
  background: #FF7586;
}
#showDay2pin, #showDay1pin{
  background-color: #DC76FF;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  position: relative;
  bottom: 20px;
  border-radius: 200px 200px 0px 200px;
}

#showDay2pin:hover, #showDay1pin:hover{
  filter: brightness(85%);
}

tr:hover{
  background-color: #1158AD;
}
#toggleSchedule{
  margin-bottom: 50px;
  text-align: center;
}
table{
  position: relative;
  transform: scale(1.1);
  border-radius: 40px;
  margin:auto;
  border-collapse: collapse;
}

td, th {
  padding: 1rem;
  border: 2px solid white;
  font-family: 'Gilmer-medium', sans-serif;
  font-size: 1.2rem;
}
/*End of Schedule*/

/*TEAM*/
#team{
  background:
  url("../Hackathon_files/team-bkg.svg") 100% 0% no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  z-index: -1;
  min-height: 99%;
  max-width: 100%;
  max-height: 100%;
}
#plants-left{
  position: relative;
  top: 10px;
  left: 20px;
  height: 100px;
}
#plants-right{
  position: relative;
  float: right;
  top: 10px;
  right: 20px;
  height: 100px;
}
#team-grid{
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 0px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-item: center;
}
#team-grid div{

}
#team-grid .headshot{

  margin: 0 auto;
  height: 120px;
  width: 120px;
}
#team-grid .headshot img{
   background-color: pink;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
#team-grid div h3, #team-grid div p{
  text-align: center;
}
#team-grid div h3{
  margin-top: 10px;
 font-family: 'Gilmer-medium', sans-serif;
 font-size: 160%;
}
#team-grid div p{
 font-family: 'Gilmer-regular', sans-serif;
 font-size: 110%;
}
/*End of team*/

/*SPONSORS*/
#sponsors{
  padding-bottom: 10%;
}
#sponsors-grid{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#sponsors-grid div img{
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 20px;
}
/*end of sponsors*/

/* FOOTER CSS  */
#info {
  font-family: 'Quicksand', sans-serif;
  background-color: #52b8f7;
}
#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#instagram-icon {
  width: 3%;
  margin-top: 2%;
}
/*end of footer*/

/*Responsive*/
@media only screen and (max-width: 1100px) {
  h1.header{
    margin-top: 7%;
    font-size: 430%;
  }
  #when{
    font-size: 180%;
  }
  h2.header{
    margin-top: 20%;
  }
  #intro p{
    font-size: 150%;
  }
  .register{
    font-size: 150%;
  }
  #prize-container h3{
    font-size: 200%;
  }
  #prize-container p{
    font-size:140%;
  }
  #schedule section{
    margin-top: -10%;
  }
  #team-grid .headshot{
    margin: 0 auto;
    height: 100px;
    width: 100px;
  }
}
@media only screen and (max-width: 950px){
  #schedule{
    background:
    url("../Hackathon_files/mobile-schedule-bkg.svg") 100% 0% no-repeat;
    background-size: cover;
  }
  #spinnystar, #spinnystar2, #spinnystar3{
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  #menu-links {
    font-size: 70%;
  }
  #spinnystar, #spinnystar2, #spinnystar3{
    display: none;
  }
  h1.header{
    margin-top: 15%;
    font-size: 400%;
  }
  h2.header{
    margin-top: 25%;
  }
  #when{
    font-size: 150%;
  }
  #team-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  #intro p{
    font-size: 140%;

  }
  #register{
    font-size: 100%;
  }
  #prize-container h3{
    font-size: 180%;
  }
  #prize-container p{
    font-size:100%;
  }
  .prize-bkg{
    max-width: 100px;
  }
  .prize-img{
    min-width: 120px;
    top: -77%;
  }
  table{
    margin-top: 0;
    transform: scale(1);
  }
  #schedule-bkg{
    position: absolute;
    object-fit: cover;
    min-height: 900px;
    max-height: 1000px;
    width: 110%;
    z-index: -1;
  }
  #toggleSchedule{
    margin-bottom: 0px;
  }
}
#tables {
  display: flex;
  justify-content: center;
}
  #First-day{
    align-self: center;
  }
  #Second-day{
    align-self: center;
  }
